body {
    font-family: Tahoma;
}

header img {
    height: 600px; 
    width: 600px;
    margin-top: -200px;
    margin-bottom: -350px;
}
header ul li, footer ul li {
    list-style-type: none;
    display: inline;
    padding-left: 37.5px;
    top: 12.5px;
    text-align: left;
}

header li {
    color: white;
    font-size: 40px;
}

header h1{
    text-align: center;
    text-shadow: 2.5px 2.5px 1px gray;
    color: black;
    position: relative;
    height: auto;
    font-size: 50px;
    left: 400px;
    bottom: -25px;
    right: 200px;
 }

header nav {
    width: 100%;
    height: 50px;
    background-color: black;
}

header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
footer a {
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

nav a:link {
    color: white;
}

nav a:visited {
    color: white;
}

nav a:hover {
    background-color: darkgray;
    color: grey;
    height: 50px;
}

nav a:active  {
    color: white;
}
#center {
    text-align: center;
    font-size: 75px; 
    text-decoration-line: underline;
}
.image1{
    float: right;
    border: 10px double black; 
    margin-left: 20px;
    width: 250px;
    height: 250px;
}
.image2 {
    float: left;
    border: 10px double black;
    margin-right: 20px;
    width: 250px;
    height: 250px;
}
.Sam, .Neal, .Elijah {
    margin-top: 50px;
    padding: 25px; 
    overflow: auto;
}
p {
    font-size: 20px;
    font-style: italic;
    text-align: justify;
}
footer, footer a {
    text-align: right;
    line-height: 10px;
    color: black;
    margin-bottom: 50px; 
    margin-top: 200px; 
    margin-right: 25px; 
}
footer {
    font-size: 20px;
}
