img#head{
    height: 600px; 
    width: 600px;
    margin-top: -200px;
    margin-bottom: -355px;
}
img#globalwarm{
    height: 300px;
    width: 400px;
}
article{
    text-align: justify;
}
article#art1{
    border-top: 1px dashed black;
    font-size: 18px;
    width: 1100px;
    position: absolute;
    top: 200px;
}
article#art2{
    font-size: 18px;
    width: 990px;
    position: absolute;
    bottom: 75px;
}
h1{
    font-family: Tahoma;
    font-size: 30px;
}
aside#side1{
    text-align: right;
    width: 400px;
    position: absolute;
    top: -12px;
    right: 40px;
}
figure#fig1 figcaption{
    width: 400px;
}
aside#side2{
    width: 500px;
    text-align: center;
    font-family: Tahoma;
    font-style: italic;
    font-size: 15px;
    position: absolute;
    top: 400px;
    right: 50px;
}
figure#fig2 figcaption{
    width: 500px;
}
footer{
    background-color: black;
    color: white;
    font-family: Tahoma;
    position: relative;
    top: 875px;
    font-size: 20px;
}
ul li{
    display: inline;
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
a#topreturn{
    margin-left: 700px;
}
a:link {
    color: white;
}
a:hover {
    background-color: darkgray;
    color: grey;
}
a:visited{
    color: grey;
}
div#right{
    text-align: right;
}
