ul li {
    list-style-type: none;
    display: inline;
    padding: 0 30px;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:hover {
    background-color: darkgray;
    color: grey;
}
a:visited{
    color: grey;
}
