body {
    font-family: Tahoma;
}

header img {
    height: 600px; 
    width: 600px;
    margin-top: -200px;
    margin-bottom: -355px;
}
header ul li, footer ul li {
    list-style-type: none;
    display: inline;
    padding-left: 37.5px;
    top: 12.5px;
    text-align: left;
}

header li {
    color: white;
    font-size: 40px;
}

header h1{
    background-color: black;
    color: white;
    width: 20px;
    height: auto;
    font-size: 36px;
    padding: 20px;
    position: relative;
    top: 25px;
    left: 1200px;
 }

header nav {
    width: 100%;
    height: 50px;
    background-color: black;
}

header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
footer a {
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

nav a:link {
    color: white;
}

nav a:visited {
    color: white;
}

nav a:hover {
    background-color: darkgray;
    color: grey;
    height: 50px;
}

nav a:active  {
    color: white;
}

footer, footer a {
    text-align: right;
    line-height: 10px;
    color: black;
    margin-bottom: 50px; 
    margin-top: 200px; 
    margin-right: 25px; 
}
footer {
    font-size: 20px;
}